{% extends "base.html" %}

{% block content %}
	<div class="container" style="text-align: center;">
		<div style="padding: 50px 0">
		{# TODO: quit manually inlining styles like what??? #}
			<h1 style="font-size: 45px; color: rgb(47, 47, 47)">Oops!</h1>
			<h2 style="font-size: 45px; color: rgb(47, 47, 47)">Page Not Found: 404.</h2>
			<img src="/wow.jpg" style="margin: 0 auto" />
		</div>
	</div>
{% endblock content %}
